<!-- app/views/maps/index.html.erb -->
<% content_for :header_title do %>
  <%= @header_title %>
<% end %>
<div data-controller="map" class="map-page">
  <!-- 地図表示エリア -->
  <div data-map-target="map" id="map"></div>

  <!-- 検索ボックス -->
  <input type="text" data-map-target="searchInput" placeholder="観光スポットを検索" />

  <!-- 現在地ボタン -->
  <div class="locate-btn" data-map-target="locateBtn" data-action="click->map#getCurrentLocation">
    <span class="material-icons">my_location</span>
  </div>

  <!-- リスト表示ボタン -->
  <div class="list-btn" data-map-target="listBtn" data-action="click->map#showSpotList">
    <span class="material-icons">list</span>
  </div>

  <!-- 横スワイプカード -->
  <div class="swiper-container">
    <div class="swiper-wrapper" data-map-target="spotCards"></div>
  </div>
</div>