<%# 各アプリのヘッダー %>
<nav class="navbar navbar-light bg-light fixed-top shadow-sm"
    style="height:56px;">
    <div class="container d-flex align-items-center"
        style="height:100%;">
        <div
            style="width:40px; display:flex; justify-content:start; align-items:center; cursor:pointer;">
            <span class="material-icons"
                style="font-size:30px;">chevron_left</span>
        </div>
            <h5 class="mb-0 fw-bold text-center flex-grow-1"style="margin:0;">
                <%= app_header_title %>
            </h5>
        <div style="width:40px;"></div>
    </div>
</nav>