<%# フッターアプリから入ったアプリのヘッダー %>
<nav class="navbar navbar-light bg-light fixed-top shadow-sm"
    style="height:56px;">
    <div class="container d-flex align-items-center"style="height:100%;">
        <h5 class="mb-0 fw-bold text-center flex-grow-1"style="margin:0;">
            <%= app_header_title %>
        </h5>
    </div>
</nav>
