<!-- ナビゲーション -->
<nav class="navbar fixed-bottom bg-white border-top d-flex justify-content-around align-items-center"
style="height: 56px;">
  <!-- ホーム -->
  <button class="btn text-center text-secondary d-flex flex-column align-items-center justify-content-center p-0"
      style="color: gray; height: 56px;">
  <span class="material-icons" style="font-size: 24px;">home</span>
  <div style="font-size: 12px;"><%= link_to "ホーム", root_path, class: "text-decoration-none text-reset" %></div>
  <div class="my-1"></div>
  </button>

  <!-- マップ -->
  <button class="btn text-center text-secondary d-flex flex-column align-items-center justify-content-center p-0"
      style="color: gray; height: 56px;">
  <span class="material-icons" style="font-size: 24px;">place</span>
  <div style="font-size: 12px;">マップ</div>
  <div class="my-1"></div>
  </button>

  <!-- お会計 -->
  <button class="btn text-white d-flex flex-column align-items-center justify-content-center p-0"
      style="background-color: red; width: 70px; height: 50px; border-radius: 16px;
          box-shadow: 0 4px 8px rgba(0,0,0,0.3); margin-top: -30px;">
      <span class="material-icons" style="font-size: 28px; line-height: 1;">qr_code_scanner</span>
      <div style="font-size: 12px; line-height: 1;">お会計</div>
  </button>

  <!-- クーポン -->
  <button class="btn text-center text-secondary d-flex flex-column align-items-center justify-content-center p-0"
  style="color: gray; height: 56px;">
    <span class="material-icons" style="font-size: 24px;">sell</span>
    <div style="font-size: 12px;">クーポン</div>
    <div class="my-1"></div>
  </button>

  <!-- 設定 -->
  <button class="btn text-center text-secondary d-flex flex-column align-items-center justify-content-center p-0"
      style="color: gray; height: 56px;">
  <span class="material-icons" style="font-size: 24px;">settings</span>
  <div style="font-size: 12px;">設定</div>
  <div class="my-1"></div>
  </button>
</nav>
